.button-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 5rem;
    justify-content: center;
}

button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 1rem;
    margin: 1em 0;
    background-color: #ffe000;
    box-shadow: 0.3rem 0.3rem white;
    cursor: pointer;
}

.button-label {
    flex: 1 0 8rem;

    font-family: InterBlack;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}