.input-container-before-game {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 5rem;
}

.input-container-after-game {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem 5rem;
    align-items: center;
}

.input-label {
    flex: 1 0 4rem;
    margin-top: 2rem;

    font-family: InterBlack;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

input {
    width: 60%;

    margin-top: 2rem;
    background-color: #323232;
    border: 2px solid white;
    box-shadow: 0.3rem 0.3rem #ffe000;

    font-family: InterBlack;
    font-size: 4rem;
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

